
.post {

    h1 {
        margin-bottom: 0;
    }

    h1 a {
        text-decoration: none !important;
        margin-bottom: 0;
    }

    time {
        width: 100%;
        display: inline-block;
        text-align: center;
        font-size: small;
        margin-top: -1.5em;
        margin-bottom: 0.5em;
        padding: 0;
    }

}

.post > :first-child { margin-top: 0 !important; }

.post-separator {
    width: 80%;
    margin: 64px auto;
}

.post-summary {
    background-color: #f0f0f0;
    border-radius: 8px;
    margin: 1.25rem auto;
    padding: 1rem 1.25rem;
    width: 90%;
}

.post-summary > :first-child {
    margin-top: 0;
}

.post-summary > :last-child {
    margin-bottom: 0;
}

.read-more {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
